input[type="number"]{
    width : 125px;
}

body{
    align-items: center;
    background-color: aquamarine;
}
.container{
    align-self: center;
}


table, th, td{
    text-align: center;
    border: 1px solid blue;
    border-collapse: collapse;
    padding-top: 2px;
    padding-bottom: 2px;
}

td{
    padding: 1px 2px;
}